.App {
  text-align: center;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    padding-bottom: 40px;
    min-height: 97vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.deleteProduct{
  background-color: #c21a1a;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;

}
 .signUpPage{
      background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        transition: 0.7s ease-in;
}
 .loginPage{
      background: linear-gradient(to right, rgb(129, 17, 203), rgb(37, 155, 252));
        transition: 0.7s ease-in;
        
}
.updateProduct{
  background-color: #42dd97;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;

}
.nav_bar_wrapper a{
  padding-left: 30px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
